:root {
    --color-primary: #8844EE;
    --color-secondary: #B07BFB; 
    --color-tertiary: #FFF;
    --color-quaternary: #FAFBFC;

    --gradient-primary: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
}