.sidenav > ul > li > .side-card {
    background: var(color-tertiary);
    border-radius: var(--gap-tiny);
    box-shadow: var(--gap-tiny) var(--gap-tiny) 15px 0px rgba(44,44,44,0.15);
}

.sidenav > ul > li > .side-card:hover {
    background: var(--color-secondary);
}