/* título */
.title {
    color: var(--color-secondary);
}

.title > h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.title > span {
    font-size: 0.875em;
    font-style: italic;
}