.header {
    grid-area: header;
    padding: var(--gap-normal);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header > .logo {
    max-width: 200px;
}

.header > nav > ul {
    display: flex;
    flex-wrap: wrap;
}

.header > nav > ul > li + li {
    margin-left: var(--gap-normal);
}

.header > nav > ul > li > a {
    display: block;
    padding: var(--gap-smaller);
    font-size: 1.125em;
    transition: .1s;
}

@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }

    .logo {
        margin-bottom: var(--gap-small);
    }

    .header > nav > ul > li > a {
        font-size: 1em;
    }

    .header > nav > ul > li + li {
        margin-left: var(--gap-smaller);
    }
}